html { background: #ffffff; }
body { width: 100%; height: 100%; min-width: 1246px; font-size: 14px; line-height: 1.33; background: #ffffff; color: #222; font-family: "Arial", "微软雅黑", "Helvetica", "sans-serif"; }
a { transition: ease .3s; }
a.on,
a:hover { color: #14A900; }


input::-webkit-input-placeholder { color: #bbb; }
input::-moz-placeholder { color: #bbb; }
input:-ms-input-placeholder { color: #bbb; }


.do_it { height: 36px; line-height: 1em; padding: 0 10px; border: 1px solid #E0E0E0; border-radius: 2px; transition: ease 0.3s; }
.do_it.m { height: 22px; line-height: 1em; padding: 0 5px; }
select.do_it, .do_it.select { height: 30px; line-height: 1em; padding: 0 20px 0 10px; border: 1px solid #ddd; background-image: url(/do/img/arr-down.svg); background-repeat: no-repeat; background-position: right 8px center; background-size: 10px; transition: ease .3s; }
input[type=file].do_it { border: 0; }
.do_it:focus:not(select) { border: 1px solid #14A900; }
select.do_it:focus, .do_it.select:focus { background-image: url(/do/img/arr-down-on.svg); }
.do_ita { line-height: 1.5em; padding: 10px; border: 1px solid #E0E0E0; border-radius: 2px; transition: ease .3s; }
.do_ita:focus { border: 1px solid #14A900; }
.do_btn { display: inline-block; white-space: nowrap; height: 38px; line-height: 38px; background: #14A900; color: #fff !important; cursor: pointer; border: 0; padding: 0; padding-left: 20px; padding-right: 20px; margin-top:10px; border-radius: 20px; transition: ease .3s; }
.do_btn:hover:not(:disabled) { text-decoration: none; background: #3C8224; }
.do_btn.m { height: 26px; line-height: 26px; padding-left: 8px; padding-right: 8px; border-radius: 2px; }
.do_btn.m:hover:not(:disabled) { color: #222; }
.do_btn.b { height: 40px; line-height: 40px; padding-left: 15px; padding-right: 15px; }
.do_btn.b:hover:not(:disabled) { color: #444; }
.do_btn:disabled, .do_btn.dis { background: #999999 !important; cursor: not-allowed; }

.do_tform { width: 100%; text-align: left; margin-bottom: 30px; }
.do_tform > tbody > tr > th, .do_tform > tbody > tr > td { padding: 10px; vertical-align: top; }
.do_tform > tbody > tr > th.p0 { padding-top: 10px; }
.do_tform > tbody > tr > td.p0 { padding-top: 0; }
.do_tform > tbody > tr > th { padding-top: 18px; text-align: right; font-weight: normal; color: #222; }
.do_tform.p2 > tbody > tr > th, .do_tform.p2 > tbody > tr > td { padding: 2px; }
.do_tform.p5 > tbody > tr > th, .do_tform.p5 > tbody > tr > td { padding: 5px; }


.do_tdata { width: 100%; text-align: left; }
.do_tdata > tbody > tr > th, .do_tdata > tbody > tr > td { padding: 10px; }
.do_tdata > tbody > tr > th { text-align: right; font-weight: normal; }
.do_tdata.p5 > tbody > tr > th, .do_tdata.p5 > tbody > tr > td { padding: 5px; vertical-align: top; }
.do_tdata.p8 > tbody > tr > th, .do_tdata.p8 > tbody > tr > td { padding: 8px; vertical-align: top; }


.do_cw { width: 1246px; padding: 0 10px; margin: 0 auto; }
.do_cw::after { content: ''; display: block; clear: both; }

.do_bcw { background: #fff; overflow: hidden; }



.do_list { clear: both; }
.do_list .offset::before { content: ''; display: block; clear: both; }
.do_list .offset::after { content: ''; display: block; clear: both; }
.do_list .offset .list > li { float: left; }
.do_list .offset .list > li .box { display: block; }


.do_page { clear: both; text-align: right; font-size: 14px; color: #777; line-height: 35px; overflow: hidden; }
.do_page > ul.list { display: inline-block; }
.do_page > ul.list > li { float: left; margin: 0 3px; }
.do_page > ul.list > li a { display: inline-block; color: #666666; background: #E7E7E7; padding: 0 15px; border-radius: 2px; text-align: center; font-family: Arial; }
.do_page > ul.list > li a:hover,
.do_page > ul.list > li a.on { background: #14A900; color: #fff; text-decoration: none; }
.do_page > ul.list > li a.on { font-weight: bold; }
.do_page > ul.list > li.prev a,
.do_page > ul.list > li.next a { background: none; color: #999; padding: 0 20px; font-size: 16px; }
.do_page > ul.list > li.prev a:hover,
.do_page > ul.list > li.next a:hover { color: #14A900; }


.do_cmtscore { width: 60px; display: inline-block; background: url(/do/img/cmtscore-empty.png) no-repeat; }
.do_cmtscore > em { width: 0; display: block; height: 12px; background: url(/do/img/cmtscore-full.png) no-repeat; }


.do_filter { clear: both; margin-top: 25px; margin-bottom: 30px; overflow: hidden; }
.do_filter .t { clear: both; font-size: 15px; color: #787878; padding-left: 32px; overflow: hidden; }
.do_filter .t .right { float: right; font-size: 15px; }
.do_filter .body { margin-top: 20px; clear: both; background: #fff; font-size: 14px; border: 1px solid #E7E7E7; padding: 25px; overflow: hidden; border-radius: 3px; }
.do_filter .body > li { padding: 7px 8px; color: #222222; overflow: hidden; line-height: 28px; }
.do_filter .body > li.l { border-top: 1px solid #ffffff; }
.do_filter .body > li .mark { color: #888888; width: 60px; float: left; }
.do_filter .body > li .qlist { overflow: hidden; margin-left: 60px; }
.do_filter .body > li .qlist a.i { display: inline-block; float: left; padding: 0 12px; margin: 5px 20px 5px 0; border-radius: 20px; }
.do_filter .body > li .qlist a.more { float: right; margin: 5px 0 5px 30px; }
.do_filter .body > li .qlist a.i:hover, .do_filter .body > li .qlist a.i.on { color: #fff; background: #14A900; }
.do_filter .body > li .qlist.fold { height: 38px; position: relative; transition: ease .3s; }
.do_filter .body > li .qlist.fold.exp { height: 76px; }
.do_filter .body > li .qlist > span { display: inline-block; float: left; margin-right: 25px; }
.do_filter .body > li .celist { overflow: hidden; margin-top: 10px; margin-left: 68px; font-size: 13px; line-height: 1.5em; }
.do_filter .body > li .celist .i { display: inline-block; float: left; margin: 9px 18px 5px 0; color: #444444; background-color: #F2F7F2; padding: 3px 12px; border-radius: 20px; }
.do_filter .body > li .celist a.i.on { color: #222222; font-weight: bold; }
.do_filter .body > li .celist a.i:hover { color: #222222; }

.do_filter .body > li .celist2 { overflow: hidden; margin-left: 68px; font-size: 13px; line-height: 1.5em; }
.do_filter .body > li .celist2 .i { display: inline-block; float: left; margin: 9px 18px 5px 0; color: #444444; background-color: #F2F7F2; padding: 3px 12px; border-radius: 20px; }
.do_filter .body > li .celist2 a.i.on { color: #222222; font-weight: bold; }
.do_filter .body > li .celist2 a.i:hover { color: #222222; }

.do_filter .sort { margin-top: 20px; clear: both; font-size: 13px; background-color: #ffffff; padding: 10px 25px; overflow: hidden; border-radius: 3px; }
.do_filter .sort > li { float: left; margin-right: 25px; }



.do_panel { clear: both; border: 1px solid #E9E9E9; font-weight: normal; border-radius: 3px; }
.do_panel > dd.dt { line-height: 90px; padding: 0 35px; background: #FCFCFC; border-radius: 3px 3px 0 0; }
.do_panel > dd.dt .t { font-size: 18px; }
.do_panel > dd.dt .right { float: right; overflow: hidden; }
.do_panel > dd.df { line-height: 50px; padding: 0 35px; border-top: 1px solid #E7E7E7; background: #F9F9F9; border-radius: 0 0 3px 3px; }

.do_panel > dd.dt .right.slide { color: #B0B9C6; }
.do_panel > dd.dt .right.slide .prev { display: block; float: left; width: 35px; line-height: 1.2em; text-align: center; border: 1px solid #E0E0E0; border-right: 0; font-size: 22px; border-radius: 3px 0px 0px 3px; }
.do_panel > dd.dt .right.slide .prev.dis { color: #E0E0E0; }
.do_panel > dd.dt .right.slide .next { display: block; float: left; width: 35px; line-height: 1.2em; text-align: center; border: 1px solid #E0E0E0; font-size: 22px; border-radius: 0px 3px 3px 0px; }
.do_panel > dd.dt .right.slide .next.dis { color: #E0E0E0; }
.do_panel > dd.dd { background: #fff; }




.do_panel2 { clear: both; border: 1px solid #E7E7E7; font-weight: normal; border-radius: 3px; margin-bottom:10px; }
.do_panel2 > dd.dt { line-height: 75px; padding: 0 35px;  background: #fff; border-radius: 3px 3px 0 0; }
.do_panel2 > dd.dt .t { font-size: 18px; }
.do_panel2 > dd.dt .right { float: right; overflow: hidden; }
.do_panel2 > dd.df { line-height: 50px; padding: 0 35px; background: #fff; border-radius: 0 0 3px 3px; }

.do_panel2 > dd.dt .right.slide { color: #B0B9C6; }
.do_panel2 > dd.dt .right.slide .prev { display: block; float: left; width: 35px; line-height: 1.2em; text-align: center; border: 1px solid #E0E0E0; border-right: 0; font-size: 22px; border-radius: 3px 0px 0px 3px; }
.do_panel2 > dd.dt .right.slide .prev.dis { color: #E0E0E0; }
.do_panel2 > dd.dt .right.slide .next { display: block; float: left; width: 35px; line-height: 1.2em; text-align: center; border: 1px solid #E0E0E0; font-size: 22px; border-radius: 0px 3px 3px 0px; }
.do_panel2 > dd.dt .right.slide .next.dis { color: #E0E0E0; }
.do_panel2 > dd.dd { background: #fff; }







.do_header { clear: both; }

.do_header .topbar { background: #F5F5F5; height: 40px; line-height: 40px; color: #9F9F9F; font-size: 12px; }

.do_header .topbar .left { float: left; }
.do_header .topbar .left .sp { color: #DDDDDD; margin: 0 4px; }

.do_header .topbar .right { float: right; }
.do_header .topbar .right > li { position: relative; z-index: 11; float: left; margin-left: 20px; }
.do_header .topbar .right > li .uname { display: block; max-width: 70px; font-family: Arial; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.do_header .topbar .right > li .fa { vertical-align: middle; margin-left: 8px; transition: ease .5s; }
.do_header .topbar .right > li.drop { padding: 0 12px; }
.do_header .topbar .right > li.drop .front { position: relative; z-index: 1; display: block; }
.do_header .topbar .right > li.drop:hover .front { color: #fff; }
.do_header .topbar .right > li.drop:hover .front .fa { transform: rotate(180deg); margin-top: -5px; }

.do_header .topbar .right > li .sub { position: absolute; z-index: 1; visibility: hidden; opacity: 0; top: 0; left: 0; right: 0; background: #454648; transition: ease .3s; }
.do_header .topbar .right > li:hover .sub { visibility: visible; opacity: 1; }
.do_header .topbar .right > li .sub > li.empty { height: 40px; }
.do_header .topbar .right > li .sub > li > a { display: block; padding: 0 12px; white-space: nowrap; line-height: 30px; }
.do_header .topbar .right > li .sub > li > a > b { margin-left: 10px; }
.do_header .topbar .right > li .sub > li > a:hover { background: #14A900; color: #fff; }


.do_header .main { background: #fff; height: 100px; }

.do_header .main .logo { float: left; margin-top: 45px; margin-right: 45px; }

.do_header .main .nav { position: absolute; left: 280px; top: 47px; }
.do_header .main .nav > li { float: left; position: relative; }
.do_header .main .nav > li > a { padding: 10px 28px; font-weight: bold; font-size: 16px; }
.do_header .main .nav > li > a:hover { color: #14A900; }
.do_header .main .nav > li > a.on { color: #14A900; font-weight: bold; }
.do_header .main .nav > li > .sub { position: absolute; z-index: 1; visibility: hidden; opacity: 0; margin-top: 10px; left: 0; right: 0; background: #fff; transition: ease .3s; }
.do_header .main .nav > li:hover > .sub { visibility: visible; opacity: 1; }
.do_header .main .nav > li > .sub > li { line-height: 30px; }
.do_header .main .nav > li > .sub > li > a { display: block; padding: 0 20px; text-align: center; }


.do_header .main .search { float: right; margin-top: 25px; overflow: hidden; }
.do_header .main .search .box { display: inline-block; position: relative; }
.do_header .main .search .box input.txt { float: left; height: 50px; line-height: 50px; padding: 0 15px; border: 1px solid #ddd; border-right: 0; transition: ease .3s; }
.do_header .main .search .box button.btn { position: relative; z-index: 1; float: left; width: 50px; height: 50px; border: 1px solid #ddd; font-size: 0; color: #ddd; background: #fff; perspective: 50px; transition: ease .3s; }
.do_header .main .search .box button.btn > em { position: relative; top: -2px; display: inline-block; width: 16px; height: 16px; border: 2px solid #ddd; border-radius: 50%; transition: ease .3s; transform-origin: 100% 100%; }
.do_header .main .search .box button.btn > em > i { position: absolute; background: #ddd; width: 8px; height: 2px; bottom: -2px; right: -6px; transform: rotate(45deg); transition: ease .3s; }
.do_header .main .search .box button.btn:hover { background: #14A900; border-color: #14A900 !important; }
.do_header .main .search .box button.btn:hover > em { border-color: #fff !important; animation: search-btn .6s ease 1 normal !important; }
.do_header .main .search .box button.btn:hover > em > i { background: #fff !important; }
.do_header .main .search .box:not(.focus):hover input.txt { border-color: #B0B0B0; }
.do_header .main .search .box:not(.focus):hover button.btn { border-color: #B0B0B0; }
.do_header .main .search .box:not(.focus):hover button.btn > em { border-color: #B0B0B0; }
.do_header .main .search .box:not(.focus):hover button.btn > em > i { background: #B0B0B0; }
.do_header .main .search .box.focus input.txt { border-color: #14A900; }
.do_header .main .search .box.focus button.btn { border-color: #14A900; color: #14A900; }
.do_header .main .search .box.focus button.btn > em { border-color: #14A900; animation: search-btn .6s ease 1 normal; }
.do_header .main .search .box.focus button.btn > em > i { background: #14A900; }

@keyframes search-btn {
	0% { transform: scale(1) rotateY(0) rotateX(0); }
	50% { transform: scale(1.2) rotateY(20deg) rotateX(-40deg); }
	100% { transform: scale(1) rotateY(0) rotateX(0); }
}

.do_header .main .search .box span.hot { position: absolute; right: 60px; line-height: 50px; font-size: 12px; white-space: nowrap; transition: ease .3s; }
.do_header .main .search .box.focus span.hot { right: -100%; }
.do_header .main .search .box span.hot a { padding: 2px 3px; background: #f0f0f0; color: #888; display: inline-block; line-height: 1em; }
.do_header .main .search .box span.hot a.on,
.do_header .main .search .box span.hot a:hover { background: #14A900; color: #fff; }


.do_header .dept { background: #fff; }
.do_header .dept > .do_cw { position: relative; }
.do_header .dept .logo { position: absolute; top: 18px; }
.do_header .dept .nav { height: 60px; margin-left: 135px; line-height: 60px; color: #222; }
.do_header .dept .nav > li { float: left; }
.do_header .dept .nav > li > a { padding: 0 15px; font-size: 14px; display: inline-block; }
.do_header .dept .nav > li > a:hover,
.do_header .dept .nav > li > a.hover,
.do_header .dept .nav > li > a.on { color: #14A900; }

.do_header .dept .nav > li > a.bar { cursor: pointer; }
.do_header .dept .nav > li > a.bar .fa { color: #A0A0A0; font-size: 13px; transition: ease .3s; }
.do_header .dept .nav > li > a.bar.on .fa { color: #14A900; }
.do_header .dept .nav > li > a.bar:hover .fa,
.do_header .dept .nav > li > a.bar.hover .fa { color: #14A900; transform: rotate(180deg); }

.do_header .dept .right { position: absolute; z-index: 11; top:9px; right: 10px; font-size: 12px; }
.do_header .dept .right .search { position: relative; float: left; width: 250px; height: 40px; padding: 10px 15px 10px 50px; border: 1px solid #E0E0E0; border-radius: 20px; margin-right: 10px; transition: ease .3s; }
.do_header .dept .right .search.-out { box-shadow: 0 0 10px rgba(0,0,0,.1); }
.do_header .dept .right .search .-txt { width: 100%; border: 0; height: 20px; line-height: 20px; font-size:14px; }
.do_header .dept .right .search .-btn { position: absolute; display: inline-block; top: 11px; left: 8px; width: 20px; height: 20px; border: 0; margin-top: 1px; background: transparent; }
.do_header .dept .right .search .-btn > em { position: relative; top: -2px; display: inline-block; width: 14px; height: 14px; border: 2px solid #B7B7B7; border-radius: 50%; transition: ease .3s; transform-origin: 100% 100%; }
.do_header .dept .right .search .-btn > em > i { position: absolute; background: #B7B7B7; width: 4px; height: 2px; bottom: -1px; right: -4px; transform: rotate(45deg); transition: ease .3s; }
.do_header .dept .right .search .-btn:hover > em { border-color: #14A900; }
.do_header .dept .right .search .-btn:hover > em > i { background: #14A900; }
.do_header .dept .right .search .-arr { position: absolute; top: 10px; left: 30px; width: 16px; height: 20px; font-size: 13px; text-align: center; line-height: 20px; color: #A0A0A0; }
.do_header .dept .right .search.-expand .-arr { color: #14A900; }
.do_header .dept .right .search .-combox { visibility: hidden; opacity: 0; position: absolute; background: #fff; padding: 8px 0; left: 0; right: 0; top: 100%; margin-top: 8px; line-height: 1.5em; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,.1); transition: ease .3s; }
.do_header .dept .right .search.-expand .-combox { visibility: visible; opacity: 1; }
.do_header .dept .right .search .-combox .-citem { display: block; padding: 8px 30px; font-size: 14px; color: #8F8F8F; cursor: pointer; }
.do_header .dept .right .search .-combox .-citem.on,
.do_header .dept .right .search .-combox .-citem:hover { background: rgba(0,100,0,.05); }
.do_header .dept .right .search .-combox .-citem .-t { color: #222; font-size:18px; font-weight:bold; margin-bottom:4px;}

.do_header .dept .right .user { float: left; height: 40px; line-height: 40px; }
.do_header .dept .right .user > li { position: relative; float: left; margin-left: 20px; }
.do_header .dept .right .user > li .uname { display: block; max-width: 70px; font-family: Arial; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.do_header .dept .right .user > li .fa { vertical-align: middle; margin-left: 8px; transition: ease .5s; }
.do_header .dept .right .user > li.drop { padding: 0 12px; }
.do_header .dept .right .user > li.drop .front { position: relative; z-index: 1; display: block; }
.do_header .dept .right .user > li.drop:hover .front { color: #fff; }
.do_header .dept .right .user > li.drop:hover .front .fa { transform: rotate(180deg); margin-top: -5px; }

.do_header .dept .right .user > li .sub { position: absolute; z-index: 1; visibility: hidden; opacity: 0; top: 0; left: 0; right: 0; color: #9f9f9f; background: #454648; border-radius: 5px; overflow: hidden; transition: ease .3s; }
.do_header .dept .right .user > li:hover .sub { visibility: visible; opacity: 1; }
.do_header .dept .right .user > li .sub > li.empty { height: 40px; }
.do_header .dept .right .user > li .sub > li > a { display: block; padding: 0 12px; white-space: nowrap; line-height: 30px; }
.do_header .dept .right .user > li .sub > li > a > b { margin-left: 10px; }
.do_header .dept .right .user > li .sub > li > a:hover { background: #14A900; color: #fff; }

.do_header .dept .right .user > li .login { padding: 0 10px; font-size: 14px; color: #222222; }
.do_header .dept .right .user > li .login:hover { color: #14A900; }
.do_header .dept .right .user > li .reg { display: inline-block; height: 34px; line-height:34px; padding: 0 25px; font-size: 14px; color: #fff; background: #14A900; border-radius: 20px; }
.do_header .dept .right .user > li .reg:hover { background: #3C8224; }


.do_header .group { height: 60px; line-height: 60px; border-top: 1px solid #EBF0EB; background: #fff; color: #666666; font-size: 15px; }
.do_header .group.bg { background: #FFFFFF; }
.do_header .group .item { margin-right: 40px; }
.do_header .group .item.on { color: #666666; font-weight:bold; }

.do_header .outbar { position: absolute; z-index: 10; display: none; left: 0; right: 0; border-top: 1px solid #E2E2E2; border-bottom: 1px solid #E2E2E2; color: #222; font-size: 12px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.05); }
.do_header .outbar > .do_cw { position: relative; padding: 40px 0; overflow: hidden; }

.do_header .outbar.worker .menu { float: left; margin-right: 30px; font-size: 12px; }
.do_header .outbar.worker .menu > li { clear: both; margin-bottom: 20px; }
.do_header .outbar.worker .menu > li .box { display: block; position: relative; width: 300px; padding: 15px; padding-right: 50px; border-radius: 5px; color: #888; }
.do_header .outbar.worker .menu > li a.box { cursor: pointer; }
.do_header .outbar.worker .menu > li .box:after { content: '\f105'; position: absolute; right: 20px; top: 50%; margin-top: -.6em; font-family: 'FontAwesome'; font-size: 22px; color: #14A800; }
.do_header .outbar.worker .menu > li .box.on { background: #F2F7F2; }
.do_header .outbar.worker .menu > li .box .t { color: #222; font-size: 16px; font-weight: bold; margin-bottom: 10px; }

.do_header .outbar.worker .body { position: relative; border-left: 1px solid #E0E0E0; overflow: hidden; }
.do_header .outbar.worker .body .panel { visibility: hidden; position: absolute; opacity: 0; padding: 5px 0 5px 60px; width: 100%; height: 100%; transition: ease .3s; }
.do_header .outbar.worker .body .panel.on { visibility: visible; opacity: 1; }
.do_header .outbar.worker .body .panel .cl { float: left; }
.do_header .outbar.worker .body .panel .cl .tl { position: relative; padding-top: 25px; font-weight: bold; margin-bottom: 10px; }
.do_header .outbar.worker .body .panel .cl .tl:after { content: ''; position: absolute; height: 4px; width: 60px; top: 0; left: 0; background: #14A800; }
.do_header .outbar.worker .body .panel .cl a.hot { color: #14A800; padding-right: 30px; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjxzdmcgdD0iMTYyNDY5NTE3NTk4MCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik01NjYuMDU4NjY3IDE3OS42MjY2NjdhMzIgMzIgMCAwIDAtNDQuMTE3MzM0IDQ2LjI5MzMzM2wyNjYuNzA5MzM0IDI1NC4wOEgxNjBhMzIgMzIgMCAwIDAgMCA2NGg2MjguNjUwNjY3bC0yNjYuNzA5MzM0IDI1NC4wOGEzMiAzMiAwIDAgMCA0NC4xMTczMzQgNDYuMzM2bDMxNi41ODY2NjYtMzAxLjUyNTMzM2E0Mi40NTMzMzMgNDIuNDUzMzMzIDAgMCAwIDEyLjgtMjQuNzQ2NjY3IDMyLjI5ODY2NyAzMi4yOTg2NjcgMCAwIDAtMC4wNDI2NjYtMTIuMzMwNjY3IDQyLjQ1MzMzMyA0Mi40NTMzMzMgMCAwIDAtMTIuOC0yNC43MDRsLTMxNi41NDQtMzAxLjUyNTMzM3oiIGZpbGw9IiMxNEE4MDAiPjwvcGF0aD48L3N2Zz4=) no-repeat center right; background-size: 18px; font-size: 14px; }
.do_header .outbar.worker .body .panel .cl a.hot:hover { color: #3C8224; text-decoration: underline; }

.do_header .outbar.worker .body .panel .block { overflow: hidden; }
.do_header .outbar.worker .body .panel .block .case { }
.do_header .outbar.worker .body .panel .block .case td { padding: 10px 0 10px 30px; }
.do_header .outbar.worker .body .panel .block .case td .box { display: block; width: 163px; border: 1px solid #f2f7f2; border-radius: 5px; overflow: hidden; }
.do_header .outbar.worker .body .panel .block .case td .box:hover { margin-top: -5px; }
.do_header .outbar.worker .body .panel .block .case td .box .pic { max-width: 100%; }
.do_header .outbar.worker .body .panel .block .case td .box .name { padding: 20px; font-size: 14px; color: #444444; text-align: center; }
.do_header .outbar.worker .body .panel .block .case td .box .name:hover { color: #14A900; }


.do_header .outbar.job .menu { overflow: hidden; margin-bottom: -20px; }
.do_header .outbar.job .menu > li { float: left; margin-right: 50px; margin-bottom: 20px; }
.do_header .outbar.job .menu > li .box { display: block; width: 310px; padding: 15px; border-radius: 5px; color: #888; }
.do_header .outbar.job .menu > li .box:hover { background: #F2F7F2; }
.do_header .outbar.job .menu > li .box .t { color: #222; font-size: 16px; font-weight: bold; margin-bottom: 10px; }
.do_header .outbar.job .menu > li .box .g_cg { color: #14A800; transition: ease .3s; }
.do_header .outbar.job .menu > li .box .g_cg:hover { color: #3C8224 !important; }









.do_footer { clear: both; background: #fff; }
.do_footer .do_point { padding: 40px 0 30px; color: #616161; overflow: hidden; border-bottom: 1px solid #E0E0E0; }
.do_footer .do_point > li { float: left; width: 16.66%; text-align: center; border-left: 1px solid #E0E0E0; }
.do_footer .do_point > li:first-child { border-left: 0; }
.do_footer .do_point > li img.ico { vertical-align: middle; margin-right: 5px; }

.do_footer .do_cells { padding: 50px 0; border-bottom: 1px solid #E0E0E0; color: #444444; }
.do_footer .do_cells > table { width: 100%; font-size: 12px; }
.do_footer .do_cells > table > tbody > tr > td { width: 33.33%; text-align: center; }
.do_footer .do_cells > table > tbody > tr > td .list { display: inline-block; line-height: 2em; text-align: left; }
.do_footer .do_cells > table > tbody > tr > td .list > li:first-child { margin-bottom: 1em; }

.do_footer .bottom { padding: 35px 0; font-size: 12px; color: #666666; font-family: Arial, 微软雅黑; overflow: hidden; }
.do_footer .bottom .left { float: left; }
.do_footer .bottom .right { float: right; }

.do_ftool { clear: both; position: relative; font-size: 12px; }
.do_ftool .offset { position: absolute; right: -10px; }
.do_ftool .offset .tools { position: fixed; bottom: 100px; width: 25px; }
.do_ftool .offset .tools > li { text-align: center; background: #fff; margin-top: -1px; border: 1px solid #f5f5f5; }
.do_ftool .offset .tools > li.top { display: none; }
.do_ftool .offset .tools > li a { position: relative; display: block; padding: 10px 0; }
.do_ftool .offset .tools > li a.cue:after { content: ''; position: absolute; width: 7px; height: 7px; border-radius: 50%; background: #f00; right: 2px; top: 4px; }
.do_ftool .offset .tools > li a img.on { display: none; }
.do_ftool .offset .tools > li a:hover img { display: none; }
.do_ftool .offset .tools > li a:hover img.on { display: inline-block; }
.do_ftool .offset .tools > li a .tip { visibility: hidden; opacity: 0; position: absolute; background: #fff; color: #222; padding: 3px 5px; white-space: nowrap; top: 50%; right: 100%; margin-top: -10px; margin-right: 15px; transition: ease .3s; }
.do_ftool .offset .tools > li a:hover .tip { visibility: visible; opacity: 1; margin-right: 5px; }
.do_ftool .offset .tools > li a .tip:before { position: absolute; content: ''; width: 8px; height: 8px; background: #fff; display: inline-block; right: -3px; top: 7px; transform: rotate(45deg); }

@media (max-width: 1290px) {
	.do_ftool { position: static; }
	.do_ftool .offset { position: static; }
	.do_ftool .offset .tools { position: fixed; right: 0; }
}


.do_workerlist { clear: both; }
.do_workerlist .offset { margin-left: -26px; margin-bottom: -30px; }
.do_workerlist .offset .list { font-size: 12px; }
.do_workerlist .offset .list > li { width: 25%; float: left; padding-left: 26px; margin-bottom: 30px; }
.do_workerlist .offset .list > li:nth-child(4n+1) { clear: both; }
.do_workerlist .offset .list > li .box { display: block; padding: 30px 15px 30px; background: #fff; transition: ease .3s; border-radius: 4px; border:1px solid #f1f1f1;}
.do_workerlist .offset .list > li .box:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_workerlist .offset .list > li .box .glow { color: #14BFF4; }
.do_workerlist .offset .list > li .box .face { position: relative; float: left; width: 100px; height: 100px; margin-top: -5px; margin-right: 15px; margin-bottom: 30px; overflow: hidden; }
.do_workerlist .offset .list > li .box .face img.pic { border-radius: 50%; max-width: 100%; max-height: 100%; }
.do_workerlist .offset .list > li .box .face .ico-sucrate { position: absolute; width: 22px; height: 22px; background: url(/do/img/ico-sucrate.png) no-repeat center center #fff; bottom: 0; right: 0; border-radius: 50%; }
.do_workerlist .offset .list > li .box .block { overflow: hidden; margin-bottom: 30px; }
.do_workerlist .offset .list > li .box .block .name { color: #111; font-weight: bold; margin-bottom: 10px; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.do_workerlist .offset .list > li .box .block .level { font-size: 12px; color: #aaa; margin-bottom: 10px; }
.do_workerlist .offset .list > li .box .block .city { color: #ccc; margin-bottom: 7px; }
.do_workerlist .offset .list > li .box .block .mark { color: #494949; margin-bottom: 10px; font-size:14px; }
.do_workerlist .offset .list > li .box .block .sucrate { font-size: 12px; color: #14BFF4; cursor: pointer; }
.do_workerlist .offset .list > li .box .block .sucrate .ico { vertical-align: middle; display: inline-block; }
.do_workerlist .offset .list > li .box .main { padding: 0 10px; clear: both; color: #222222; margin-bottom: 24px; }
.do_workerlist .offset .list > li .box .main .fee { margin-right: 10px; }
.do_workerlist .offset .list > li .box .main .fee .tag { color: #fff; background: #939393; padding: 3px 8px; border-radius: 20px; margin-right: 3px; font-size:12px; }
.do_workerlist .offset .list > li .box .main .fee .tag.h { background: #0CC0F4; }
.do_workerlist .offset .list > li .box .main .fee b { font-size: 20px; color: #222222; }
.do_workerlist .offset .list > li .box .good { padding: 24px 0 0; margin-bottom: 20px; border-top: 1px solid #EDEDED; color: #444444; overflow: hidden; height: 78px; line-height: 1.5em; }
.do_workerlist .offset .list > li .box .good em { display: inline-block; float: left; margin-bottom: 5px; margin-right: 5px; padding: 3px 10px; border-radius: 40px; background: #F2F7F2; }
.do_workerlist .offset .list > li .box .view { padding: 8px 22px; display: inline-block; background: #14A900; color: #fff; border-radius: 40px; transition: ease .3s; font-size: 14px; line-height:1; }
.do_workerlist .offset .list > li .box .view:hover { background: #3C8224; }

.do_workerlist.slide .offset { margin-left: -13px; margin-top: -13px; margin-right: -13px; }
.do_workerlist.slide .offset .list { padding-top: 13px; }
.do_workerlist.slide .offset .list > li { padding-left: 13px; padding-right: 13px; }

.do_workerlist.h370 .offset .list > li .box { height: 370px; padding: 30px 10px 0; overflow: hidden; }

.do_workerlist .list.row { border: 1px solid #E7E7E7; background: #fff; }
.do_workerlist .list.row > li { padding: 25px 40px; border-top: 1px solid #E7E7E7; transition: ease .3s; }
.do_workerlist .list.row > li:hover { background: #f9f9f9; }
.do_workerlist .list.row > li:first-child { border-top: 0; }
.do_workerlist .list.row > li .face { float: left; width: 100px; height: 100px; border-radius: 50px; margin-right: 25px; overflow: hidden; }
.do_workerlist .list.row > li .face img { max-width: 100%; max-height: 100%; }
.do_workerlist .list.row > li .block { overflow: hidden; }
.do_workerlist .list.row > li .block .glow { color: #14BFF4; }
.do_workerlist .list.row > li .block .name { color: #222222; font-weight: bold; margin-bottom: 12px; font-size: 16px; }
.do_workerlist .list.row > li .block .mark { color: #222222; margin-bottom: 8px; font-size: 13px; }
.do_workerlist .list.row > li .block .main { color: #222222; margin-bottom: 25px; }
.do_workerlist .list.row > li .block .main .fee { color: #7D7D7D; margin-right: 40px; }
.do_workerlist .list.row > li .block .main .fee b { color: #222222; }
.do_workerlist .list.row > li .block .main .level { margin-left: 0; margin-right: 40px; font-size: inherit; }
.do_workerlist .list.row > li .block .main .city { margin-left: 0; margin-right: 40px; font-size: inherit; }
.do_workerlist .list.row > li .block .main .sucrate { font-size: 13px; color: #14BFF4; }
.do_workerlist .list.row > li .block .main .sucrate .ico { vertical-align: middle; display: inline-block; }
.do_workerlist .list.row > li .block .main .fa { color: #999; }
.do_workerlist .list.row > li .block .des { color: #555; font-size: 13px; margin-bottom: 14px; }
.do_workerlist .list.row > li .block .good { font-size: 12px; color: #666; overflow: hidden; margin-bottom: 15px; line-height: 1.5em; }
.do_workerlist .list.row > li .block .good em { display: inline-block; float: left; margin-bottom: 5px; margin-right: 5px; padding: 3px 10px; border-radius: 40px; background: #F2F7F2; }
.do_workerlist .list.row > li .block .time { font-size: 12px; color: #7D7D7D; }




.do_stafflist { clear: both; }
.do_stafflist .offset { margin-left: -26px; }
.do_stafflist .offset .list { }
.do_stafflist .offset .list > li { width: 25%; float: left; padding-left: 26px; margin-bottom: 30px; }
.do_stafflist .offset .list > li:nth-child(4n+1) { clear: both; }
.do_stafflist .offset .list > li .box { display: block; width: 287px; background: #fff; font-size: 12px; border-radius: 4px; transition: ease .3s; }
.do_stafflist .offset .list > li .box:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_stafflist .offset .list > li .box .face { text-align: center; font-size: 0; border-radius: 4px 4px 0 0; overflow: hidden; }
.do_stafflist .offset .list > li .box .face img { max-width: 100%; }
.do_stafflist .offset .list > li .box .block { padding: 20px 20px 15px; line-height: 20px; }
.do_stafflist .offset .list > li .box .block .lt { margin-bottom: 20px; height: 20px; }
.do_stafflist .offset .list > li .box .block .lt .name { float: left; position: relative; margin-top: -2px; color: #222222; font-size: 18px; margin-right: 10px; font-weight: bold; }
.do_stafflist .offset .list > li .box .block .lt .name em { float: left; max-width: 5em; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; transition: ease .3s; }
.do_stafflist .offset .list > li .box:hover .block .lt .name em { opacity: 0; }
.do_stafflist .offset .list > li .box .block .lt .name label { position: absolute; left: 0; white-space: nowrap; visibility: hidden; opacity: 0; cursor: pointer; transition: ease .3s; }
.do_stafflist .offset .list > li .box:hover .block .lt .name label { visibility: visible; opacity: 1; }
.do_stafflist .offset .list > li .box .block .lt .name:hover { color: #14A900; font-weight: bold; }
.do_stafflist .offset .list > li .box .block .lt .mark { color: #AAA; }
.do_stafflist .offset .list > li .box .block .lt .mark > * { margin-right: 10px; }
.do_stafflist .offset .list > li .box .block .lt .mark > *:last-child { margin-right: 0; }
.do_stafflist .offset .list > li .box .block .lt .mark .ico-sucrate { display: inline-block; width: 22px; height: 22px; background: url(/do/img/ico-sucrate.png) no-repeat center center #fff; vertical-align: middle; }
.do_stafflist .offset .list > li .box .block .lt .mark .clevel { color: #444; }
.do_stafflist .offset .list > li .box .block .lt .mark .clevel img { vertical-align: text-bottom; }
.do_stafflist .offset .list > li .box .block .l2 { height: 20px; }
.do_stafflist .offset .list > li .box .block .l2 .fee { margin-right: 15px; }
.do_stafflist .offset .list > li .box .block .l2 .fee .num { font-size: 18px; color: #222222; }
.do_stafflist .offset .list > li .box .block .l2 .lab { color: #0CC0F4; margin-right: 10px; font-style: normal; font-size:14px; font-weight:bold; }
.do_stafflist .offset .list > li .box .expert { padding: 20px 10px 0; margin: 0 10px; border-top: 1px solid #EDEDED; color: #777777; overflow: hidden; height: 44px; line-height: 1.5em; }
.do_stafflist .offset .list > li .box .expert em { display: inline-block; float: left; margin-right: 5px; padding: 3px 10px; border-radius: 40px; background: #F2F7F2; color: #333333; }
.do_stafflist .offset .list > li .box .opinion { padding: 20px 20px 0; color: #777; line-height: 1.5em; font-size: 13px; }
.do_stafflist .offset .list > li .box .bottom { padding: 20px; }
.do_stafflist .offset .list > li .box .bottom .view { padding: 8px 22px; display: inline-block; background: #14A900; color: #fff; border-radius: 40px; transition: ease .3s; font-size: 14px; line-height: 1; }
.do_stafflist .offset .list > li .box .bottom .view:hover { background: #3C8224; }



.do_staffworkerlist { clear: both; }
.do_staffworkerlist .offset { margin-left: -26px; }
.do_staffworkerlist .offset .list { }
.do_staffworkerlist .offset .list > li { width: 25%; float: left; padding-left: 26px; margin-bottom: 30px; }
.do_staffworkerlist .offset .list > li:nth-child(4n+1) { clear: both; }

.do_staffworkerlist .offset .list > li .staff { display: block; width: 287px; background: #fff; font-size: 12px; border-radius: 4px; transition: ease .3s; }
.do_staffworkerlist .offset .list > li .staff:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_staffworkerlist .offset .list > li .staff .face { text-align: center; font-size: 0; border-radius: 4px 4px 0 0; overflow: hidden; }
.do_staffworkerlist .offset .list > li .staff .face img { max-width: 100%; }
.do_staffworkerlist .offset .list > li .staff .block { padding: 20px 20px 15px; line-height: 20px; }
.do_staffworkerlist .offset .list > li .staff .block .lt { margin-bottom: 20px; height: 20px; }
.do_staffworkerlist .offset .list > li .staff .block .lt .name { float: left; position: relative; margin-top: -2px; color: #222; font-size: 18px; margin-right: 10px; font-weight: bold; }
.do_staffworkerlist .offset .list > li .staff .block .lt .name em { float: left; max-width: 5em; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; transition: ease .3s; }
.do_staffworkerlist .offset .list > li .staff:hover .block .lt .name em { opacity: 0; }
.do_staffworkerlist .offset .list > li .staff .block .lt .name label { position: absolute; left: 0; white-space: nowrap; visibility: hidden; opacity: 0; cursor: pointer; transition: ease .3s; }
.do_staffworkerlist .offset .list > li .staff:hover .block .lt .name label { visibility: visible; opacity: 1; }
.do_staffworkerlist .offset .list > li .staff .block .lt .name:hover { color: #14A900; font-weight: bold; }
.do_staffworkerlist .offset .list > li .staff .block .lt .mark { color: #AAA; }
.do_staffworkerlist .offset .list > li .staff .block .lt .mark > * { margin-right: 10px; }
.do_staffworkerlist .offset .list > li .staff .block .lt .mark > *:last-child { margin-right: 0; }
.do_staffworkerlist .offset .list > li .staff .block .lt .mark .ico-sucrate { display: inline-block; width: 22px; height: 22px; background: url(/do/img/ico-sucrate.png) no-repeat center center #fff; vertical-align: middle; }
.do_staffworkerlist .offset .list > li .staff .block .lt .mark .clevel { color: #444; }
.do_staffworkerlist .offset .list > li .staff .block .lt .mark .clevel img { vertical-align: text-bottom; }
.do_staffworkerlist .offset .list > li .staff .block .l2 { height: 20px; }
.do_staffworkerlist .offset .list > li .staff .block .l2 .fee { margin-right: 15px; }
.do_staffworkerlist .offset .list > li .staff .block .l2 .fee .num { font-size: 18px; color: #222222; }
.do_staffworkerlist .offset .list > li .staff .block .l2 .lab { color: #0CC0F4; margin-right: 10px; font-style: normal; }
.do_staffworkerlist .offset .list > li .staff .expert { padding: 20px 10px 0; margin: 0 10px; border-top: 1px solid #EDEDED; color: #777777; overflow: hidden; height: 44px; line-height: 1.5em; }
.do_staffworkerlist .offset .list > li .staff .expert em { display: inline-block; float: left; margin-right: 5px; padding: 3px 10px; border-radius: 40px; background: #F2F7F2; color: #333333; }
.do_staffworkerlist .offset .list > li .staff .opinion { padding: 20px 20px 0; color: #777; line-height: 1.5em; font-size: 13px; }
.do_staffworkerlist .offset .list > li .staff .bottom { padding: 20px; }
.do_staffworkerlist .offset .list > li .staff .bottom .view { padding: 8px 22px; display: inline-block; background: #14A900; color: #fff; border-radius: 40px; transition: ease .3s; font-size: 14px; line-height: 1; }
.do_staffworkerlist .offset .list > li .staff .bottom .view:hover { background: #3C8224; }

.do_staffworkerlist .offset .list > li .worker { display: block; width: 287px; padding: 30px 15px 30px; background: #fff; font-size: 12px; border-radius: 4px; transition: ease .3s; }
.do_staffworkerlist .offset .list > li .worker:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_staffworkerlist .offset .list > li .worker .glow { color: #14BFF4; }
.do_staffworkerlist .offset .list > li .worker .face { position: relative; float: left; width: 100px; height: 100px; margin-top: -5px; margin-right: 15px; margin-bottom: 30px; overflow: hidden; }
.do_staffworkerlist .offset .list > li .worker .face img.pic { border-radius: 50%; max-width: 100%; max-height: 100%; }
.do_staffworkerlist .offset .list > li .worker .face .ico-sucrate { position: absolute; width: 22px; height: 22px; background: url(/do/img/ico-sucrate.png) no-repeat center center #fff; bottom: 0; right: 0; border-radius: 50%; }
.do_staffworkerlist .offset .list > li .worker .block { overflow: hidden; margin-bottom: 30px; }
.do_staffworkerlist .offset .list > li .worker .block .name { color: #111; font-weight: bold; margin-bottom: 10px; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.do_staffworkerlist .offset .list > li .worker .block .level { font-size: 12px; color: #aaa; margin-bottom: 10px; }
.do_staffworkerlist .offset .list > li .worker .block .city { color: #ccc; margin-bottom: 7px; }
.do_staffworkerlist .offset .list > li .worker .block .mark { color: #494949; margin-bottom: 10px; font-size:14px; }
.do_staffworkerlist .offset .list > li .worker .block .sucrate { font-size: 12px; color: #14BFF4; cursor: pointer; }
.do_staffworkerlist .offset .list > li .worker .block .sucrate .ico { vertical-align: middle; display: inline-block; }
.do_staffworkerlist .offset .list > li .worker .main { padding: 0 10px; clear: both; color: #222222; margin-bottom: 24px; }
.do_staffworkerlist .offset .list > li .worker .main .fee { margin-right: 10px; }
.do_staffworkerlist .offset .list > li .worker .main .fee .tag { color: #fff; background: #939393; padding: 3px 8px; border-radius: 20px; margin-right: 3px; font-size:12px; }
.do_staffworkerlist .offset .list > li .worker .main .fee .tag.h { background: #0CC0F4; }
.do_staffworkerlist .offset .list > li .worker .main .fee b { font-size:20px; color: #222222; }
.do_staffworkerlist .offset .list > li .worker .good { padding: 24px 0 0; margin-bottom: 20px; border-top: 1px solid #EDEDED; color: #666666; overflow: hidden; height: 78px; line-height: 1.5em; }
.do_staffworkerlist .offset .list > li .worker .good em { display: inline-block; float: left; margin-bottom: 5px; margin-right: 5px; padding: 3px 10px; border-radius: 40px; background: #F2F7F2; }
.do_staffworkerlist .offset .list > li .worker .view { padding: 8px 22px; display: inline-block; background: #14A900; color: #fff; border-radius: 40px; transition: ease .3s; font-size: 14px; line-height:1;}
.do_staffworkerlist .offset .list > li .worker .view:hover { background: #3C8224; }



.do_worklist { clear: both; }
.do_worklist .offset { margin-left: -29px; margin-bottom: -45px; }
.do_worklist .offset .list { }
.do_worklist .offset .list > li { padding-left: 29px; margin-bottom: 45px; }
.do_worklist .offset .list > li:nth-child(5n+1) { clear: both; }
.do_worklist .offset .list > li .box { display: block; width: 222px; background: #fff; border: 1px solid #f1f1f1; border-radius: 5px 5px 3px 3px; overflow: hidden; font-size: 14px; transition: ease .3s; }
.do_worklist .offset .list > li .box:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_worklist .offset .list > li .box .pic { position: relative; text-align: center; font-size: 0; margin-bottom: 10px; overflow: hidden; }
.do_worklist .offset .list > li .box .pic img { max-width: 220px; max-height: 145px; }
.do_worklist .offset .list > li .box .pic .similar { display: block; visibility: hidden; opacity: 0; position: absolute; font-size: 12px; color: #fff; left: 0; right: 0; bottom: 0; height: 2.2em; line-height: 2.2em; text-align: center; background: rgba(0,0,0,0.5); }
.do_worklist .offset .list > li .box .pic:hover .similar { visibility: visible; opacity: 1; }
.do_worklist .offset .list > li .box .pic:hover .similar:hover { text-decoration: underline; }
.do_worklist .offset .list > li .box .price { padding: 0 15px; color: #AAAAAA; margin-bottom: 10px; font-size: 12px; }
.do_worklist .offset .list > li .box .price .days { float: right; font-size: 12px; color: #A9A9A9; line-height: 2.0em; }
.do_worklist .offset .list > li .box .price b { font-size: 17px; color: #f10; margin-right: 2px; }
.do_worklist .offset .list > li .box .name { padding: 0 15px; color: #888888; margin-bottom: 25px; }
.do_worklist .offset .list > li .box .user { padding: 0 15px 15px; font-size: 12px; color: #444444; }
.do_worklist .offset .list > li .box .user .pact { float: right; color: #444444; }
.do_worklist .offset .list > li .box .user .pact:hover { text-decoration: underline; }
.do_worklist .offset .list > li .box .user .un { }


.do_projectlist { clear: both; }
.do_projectlist .offset { margin-left: -15px; margin-bottom: -30px; }
.do_projectlist .offset .list { }
.do_projectlist .offset .list > li { width: 20%; padding-left: 15px; margin-bottom: 30px; }
.do_projectlist .offset .list > li:nth-child(5n+1) { clear: both; }
.do_projectlist .offset .list > li .box { position: relative; display: block; background: #fff; padding: 55px 10px 50px; font-size: 14px; transition: ease .3s; }
.do_projectlist .offset .list > li .box:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_projectlist .offset .list > li .box .name { text-align: center; font-size: 15px; color: #444444; margin-bottom: 10px; height: 4em; overflow: hidden; }
.do_projectlist .offset .list > li .box:hover .name { color: inherit; }
.do_projectlist .offset .list > li .box .budget { text-align: center; color: #444444; margin-bottom: 28px; font-weight: bold; font-size: 16px; }
.do_projectlist .offset .list > li .box .time { text-align: center; color: #A3A3A3; font-size: 12px; }
.do_projectlist .offset .list > li .box .time .fa { font-size: 14px; }
.do_projectlist .offset .list > li .box .s { position: absolute; top: 0; left: 0; right: 0; text-align: center; }
.do_projectlist .offset .list > li .box .s .on { display: inline-block; padding: 2px 10px; font-size: 12px; background: #83C44E; color: #fff; }
.do_projectlist .offset .list > li .box .s .off { display: inline-block; padding: 2px 10px; font-size: 12px; background: #AFAFAF; color: #fff; }

.do_projectlist .list.row { border: 1px solid #E7E7E7; background: #fff; border-radius: 3px; }
.do_projectlist .list.row > li { padding: 25px 40px; border-top: 1px solid #E7E7E7; transition: ease .3s; }
.do_projectlist .list.row > li:hover { background: #f9f9f9; }
.do_projectlist .list.row > li:first-child { border-top: 0; }
.do_projectlist .list.row > li .name { color: #14A900; font-weight: bold; margin-bottom: 10px; font-size: 15px; }
.do_projectlist .list.row > li .name:hover { text-decoration: underline; }
.do_projectlist .list.row > li .time { font-size: 12px; color: #7D7D7D; margin-bottom: 20px; }
.do_projectlist .list.row > li .mark { color: #000; margin-bottom: 10px; }
.do_projectlist .list.row > li .main { font-size: 12px; color: #7D7D7D; margin-bottom: 20px; }
.do_projectlist .list.row > li .main .fee { margin-right: 40px; }
.do_projectlist .list.row > li .main .fee b { color: #000000; font-size: 15px; }
.do_projectlist .list.row > li .main .city { margin-right: 40px; }
.do_projectlist .list.row > li .main .city b { color: #000000; font-size: 14px; }
.do_projectlist .list.row > li .main .left { margin-right: 40px; }
.do_projectlist .list.row > li .des { color: #555; font-size: 13px; margin-bottom: 10px; }



.helper_toper { position: relative; height: 267px; background: url(/do/img/help_toper.png) center bottom no-repeat #F9F9F9; }
.helper_toper .title { text-align: center; font-size: 33px; padding-top: 80px; }
.helper_toper .tabbar { position: absolute; height: 76px; overflow: hidden; bottom: 0; left: 0; right: 0; text-align: center; border-bottom: 1px solid #E0E0E0; }
.helper_toper .tabbar > p { display: inline-block; }
.helper_toper .tabbar > p > a { float: left; display: block; width: 244px; line-height: 75px; background: #f9f9f9; text-align: center; font-size: 18px; border: 1px solid #E0E0E0; border-bottom: 0; color: #222; font-weight: bold; }
.helper_toper .tabbar > p > a:hover,
.helper_toper .tabbar > p > a.on { color: #14A900; background: #fff; }
.helper_bottom { height: 233px; background: #14A900; color: #fff; text-align: center; overflow: hidden; }
.helper_bottom .l1 { margin: 63px 0 35px; font-size: 30px; }
.helper_bottom .b1 { display: inline-block; font-size: 15px; height: 38px; line-height: 38px; padding: 0 30px; border-radius: 30px; background-color:#fff; color:#14A900; font-weight:bold; }
.helper_bottom .b1:hover { background: #F2F7F2; color:#3C8224; }



.do_masterlist { clear: both; }
.do_masterlist .offset { margin-left: -26px; margin-bottom: -30px; }
.do_masterlist .offset .list { font-size: 12px; }
.do_masterlist .offset .list > li { width: 25%; float: left; padding-left: 26px; margin-bottom: 30px; }
.do_masterlist .offset .list > li:nth-child(4n+1) { clear: both; }
.do_masterlist .offset .list > li .box { display: block; height: 335px; padding: 30px 10px 30px; background: #fff; transition: ease .3s; }
.do_masterlist .offset .list > li .box:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-bottom: 2px; margin-top: -2px; }
.do_masterlist .offset .list > li .box .glow { color: #14BFF4; }
.do_masterlist .offset .list > li .box .face { float: left; width: 100px; height: 100px; border-radius: 50px; margin-top: -5px; margin-right: 15px; margin-bottom: 30px; overflow: hidden; }
.do_masterlist .offset .list > li .box .face img { max-width: 100%; max-height: 100%; }
.do_masterlist .offset .list > li .box .block { overflow: hidden; margin-bottom: 30px; }
.do_masterlist .offset .list > li .box .block .name { color: #444; font-weight: bold; margin-bottom: 10px; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.do_masterlist .offset .list > li .box .block .city { color: #ccc; margin-bottom: 7px; }
.do_masterlist .offset .list > li .box .block .mark { color: #494949; margin-bottom: 10px; }
.do_masterlist .offset .list > li .box .block .fee { margin-right: 10px; }
.do_masterlist .offset .list > li .box .block .fee b { font-size: 16px; }
.do_masterlist .offset .list > li .box .block .level { font-size: 12px; color: #aaa; }

.do_masterlist .offset .list > li .box .teach { height: 5em; border-bottom: 1px solid #EDEDED; margin-bottom: 1.5em; }
.do_masterlist .offset .list > li .box .teach:empty:after { content: '暂未添加话题'; color: #999; padding-left: .6em; }
.do_masterlist .offset .list > li .box .teach > li:before { width: .6em; content: '•'; display: inline-block; font-size: 12px; transform: scale(.8); }
.do_masterlist .offset .list > li .box .teach > li { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.8em; }
.do_masterlist .offset .list > li .box > .mark { color: #888; padding: 0 .6em; margin-bottom: 1.5em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.do_masterlist .offset .list > li .box .view { padding: 8px 20px; display: inline-block; background: #14A900; color: #fff; border-radius: 2px; transition: ease .3s; }
.do_masterlist .offset .list > li .box .view:hover { background: #3C8224; }


.master-cate { clear: both; height: 60px; background: #fff; border-top: 1px solid #EFEFEF; border-bottom: 1px solid #EFEFEF; line-height: 58px; text-align: center; overflow: hidden; }
.master-cate .list { display: inline-block; }
.master-cate .list a { display: inline-block; float: left; padding: 0 1.5em; font-size: 15px; font-weight: bold; border-bottom: 2px solid transparent; }
.master-cate .list a:hover,
.master-cate .list a.on { border-color: #14A900; }



.master-filter { clear: both; height: 50px; background: #fff; border-bottom: 1px solid #EFEFEF; color: #7B7B7B; line-height: 48px; font-size: 13px; }
.master-filter .sort a { display: inline-block; float: left; margin-right: 2em; border-bottom: 2px solid transparent; }
.master-filter .sort a:hover,
.master-filter .sort a.on { border-color: #14A900; }
.master-filter .sort a.ico-sort { position: relative; padding-right: 15px; background: url(/do/img/ico-sort.svg) right center no-repeat; background-size: 9px; }
.master-filter .sort a.ico-sort.on:after { content: ''; right: 0; top: 50%; margin-top: -4.5px; position: absolute; width: 9px; height: 9px; background: url(/do/img/ico-sort-on.svg) center top no-repeat; background-size: 9px; }
.master-filter .sort a.ico-sort.on.up:after { height: 4.5px; }
.master-filter .sort a.ico-sort.on.down:after { height: 4.5px; margin-top: 0; background-position-y: bottom; }


.master-filter .g_r .group { margin-left: 1em; }
.master-filter .g_r .group label { line-height: normal; margin-top: -3px; }
.master-filter .g_r .group select.do_it { border: 0; padding-top: 0; padding-bottom: 0; }


.master-bottom { clear: both; height: 214px; background: #134053; padding-top: 5em; }
.master-bottom table { width: 100%; }
.master-bottom table td { width: 25%; text-align: center; color: #fff; font-size: 16px; font-weight: bold; }
.master-bottom table td .ico { margin-bottom: 1em; }
