/*暂仅自由工作部分使用*/
* { box-sizing: border-box; -webkit-text-size-adjust: none; outline: none; }
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font: inherit; line-height: normal; }
header, nav, main, img, form, p { margin: 0; padding: 0; border: 0; }
ul, ol { margin: 0; padding: 0; list-style-type: none; }
hr, dl, dt, dd { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
tbody { border-collapse: collapse; border-spacing: 0px; }
pre { margin: 0px; padding: 0px; border: 0px; overflow: hidden; font-family: inherit; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; word-break: break-all; }
select, input, textarea, button { max-width: 100%; font-size: inherit; padding: 2px 5px; font-family: inherit; }
select::-ms-expand { display: none; }
input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check { display: none; width: 20px; height: 20px; cursor: inherit; }
a { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color: inherit; }
th { text-align: left; }
td { word-wrap: break-word; word-break: break-all; }
ins, em { text-decoration: none; font-style: normal; }
h1, h2, h3, h4 { padding: 0; margin: 0; font-size: inherit; font-weight: inherit; }
input[type=submit], input[type=image], button { cursor: pointer; }
button, input[type=text], input[type=password], input[type=file], input[type=number], input[type=tel], input[type=button], input[type=submit], input[type=reset], input[type=checkbox], input[type=radio], select, textarea { -webkit-appearance: none; color: inherit; }
input[type=radio] { width: 20px; height: 20px; background: url(/do/img/rdo-no.svg) no-repeat center center; background-size: 18px; vertical-align: middle; cursor: inherit; position: relative; top: -3px; }
input[type=checkbox] { width: 20px; height: 20px; background: url(/do/img/chk-no.svg) no-repeat center center; background-size: 18px; vertical-align: middle; cursor: inherit; }
input[type=radio]:checked { width: 20px; height: 20px; background: url(/do/img/rdo-chk.svg) no-repeat center center; background-size: 18px; vertical-align: middle; cursor: inherit; }
input[type=checkbox]:checked { width: 20px; height: 20px; background: url(/do/img/chk-chk.svg) no-repeat center center; background-size: 18px; vertical-align: middle; cursor: inherit; }
input[type=radio]:disabled { background-color: rgba(0,0,0,.1) !important; opacity: .6 !important; border-radius: 3px; cursor: not-allowed !important; }
input[type=checkbox]:disabled { background-color: rgba(0,0,0,.1) !important; opacity: .6 !important; border-radius: 3px; cursor: not-allowed !important; }
input[type=file] { padding: 0; }

.g_f9 { font-size: 9px; }
.g_f10 { font-size: 10px; }
.g_f11 { font-size: 11px; }
.g_f12 { font-size: 12px; }
.g_f13 { font-size: 13px; }
.g_f14 { font-size: 14px; }
.g_f15 { font-size: 15px; }
.g_f16 { font-size: 16px; }
.g_f17 { font-size: 17px; }
.g_f18 { font-size: 18px; }

.g_ca { color: #aaa; }
.g_c9 { color: #999; }
.g_c8 { color: #888; }
.g_c7 { color: #777; }
.g_c6 { color: #666; }
.g_c5 { color: #555; }
.g_c4 { color: #444; }
.g_c3 { color: #333; }
.g_c2 { color: #222; }
.g_c1 { color: #111; }
.g_c0 { color: #000; }
.g_co { color: #f30; }
.g_cr { color: red !important; }
.g_cg { color: #14A900 !important; }
.g_cb { color: blue !important; }

.g_l { float: left; }
.g_r { float: right; }
.g_c { clear: both !important; }
.g_c::after { content: ''; display: block; clear: both; }
.g_vm { vertical-align: middle; }
.g_dib { display: inline-block; }

.g_h15 { line-height: 1.5em; }
.g_h18 { line-height: 1.8em; }
.g_h20 { line-height: 2.0em; }
.g_mt5 { margin-top: 5px !important; }
.g_mt10 { margin-top: 10px !important; }
.g_mt20 { margin-top: 20px !important; }
.g_mb5 { margin-bottom: 5px !important; }
.g_mb10 { margin-bottom: 10px !important; }
.g_mb20 { margin-bottom: 20px !important; }
.g_mb30 { margin-bottom: 30px !important; }
.g_ml5 { margin-left: 5px !important; }
.g_ml10 { margin-left: 10px !important; }
.g_ml20 { margin-left: 20px !important; }
.g_mr5 { margin-right: 5px !important; }
.g_mr10 { margin-right: 10px !important; }
.g_mr20 { margin-right: 20px !important; }
.g_mr25 { margin-right: 25px !important; }

.g_ell { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }


/*全局兼容部分*/
.g_it { border-radius: 2px; height: 38px; line-height: 1em; padding: 0 10px; border: 1px solid #aaa; transition: ease 0.3s; }
select.g_it { height: 40px; line-height: 1em; padding: 0 10px; border: 1px solid #aaa; transition: ease 0.3s; }
.g_ita { border-radius: 2px; line-height: 1.5em; padding: 10px; border: 1px solid #aaa; transition: ease 0.3s; }
.g_ib_s { border-radius: 2px; height: 40px; background: #14A900; color: white !important; cursor: pointer; border: 0; padding-left: 10px; padding-right: 10px; transition: ease 0.3s; }
.g_ib_s:hover { background: #14A900; color: white !important; }
.g_ib_s:disabled { height: 40px; background: #aaa; color: white !important; padding-left: 10px; padding-right: 10px; }
.g_ib { border-radius: 2px; height: 40px; background: #d0d0d0; color: #767676 !important; cursor: pointer; border: 0; padding-left: 10px; padding-right: 10px; }
.g_ib:hover { color: #767676 !important; }


.g_cw { width: 1220px; padding: 0 10px; margin: 0 auto; }
.g_cw::after { content: ''; display: block; clear: both; }


.floatbox { display: none; padding: 20px 5px 20px 20px; background: #ffffff; z-index: 2000; position: fixed !important; position: absolute; border-radius: 5px; }
.floatbox .close { width: 35px; height: 35px; line-height: 50px; font-weight: 500; text-align: center; display: inline-block; font-size: 35px; font-family: Arial, Helvetica, sans-serif; color: #bbb; position: absolute; right: 20px; top: 15px; }
.floatbox .close:hover { color: #14a900; text-decoration: none; }
.floatbox .fview { padding-right: 20px; height: 100%; overflow: auto; padding-top: 10px; }
.floatbox .fview .title { padding: 0 0 10px; font-size: 18px; color: #14A900; cursor: move; }
.floatbox .fview .tbox { padding: 10px; }
#dvShelter { width: 100%; filter: Alpha(Opacity=50); -moz-opacity: 0.5; opacity: 0.5; z-index: 1001; background-color: #000000; position: fixed !important; top: 0px; left: 0px; right: 0px; bottom: 0px; position: absolute; }



.workthumfix { position: relative; width: 220px; height: 145px; text-align: center; display: inline-block; line-height: 145px; overflow: hidden; background: #f7f7f7; color: #ACACAC; }
.workthumfix > img { vertical-align: middle; }

.userfacefix { border: 1px solid #f0f0f0 !important; }
.userfacefix img { float: left; }
.userfacefix.c50 { width: 50px !important; height: 50px !important; border-radius: 25px !important; }
.userfacefix.c100 { width: 100px !important; height: 100px !important; border-radius: 50px !important; }
.userfacefix.r50 { width: 50px !important; height: 50px !important; border-radius: 50px; }
.userfacefix.r100 { width: 100px !important; height: 100px !important; border-radius: 50px; }


.g_fmsg { display: none; position: absolute; z-index: 1; padding-bottom: 9px; filter: Alpha(Opacity=95); -moz-opacity: 0.95; opacity: 0.95; }
.g_fmsg .c { border-radius: 6px; border: 1px solid #14A900; padding: 8px 13px; font-size: 12px; color: #14A900; background: #fff; white-space: nowrap; }
.g_fmsg .a { bottom: 0; height: 10px; left: 10px; position: absolute; width: 19px; z-index: 1; }
.g_fmsg .a div { background: #fff; border-left: 1px solid #14A900; border-right: 1px solid #14A900; display: block; font-size: 0; height: 1px; line-height: 0; margin: 0 auto; }
.g_fmsg .a .line10 { border: medium none; width: 17px; }
.g_fmsg .a .line9 { width: 15px; }
.g_fmsg .a .line8 { width: 13px; }
.g_fmsg .a .line7 { width: 11px; }
.g_fmsg .a .line6 { width: 9px; }
.g_fmsg .a .line5 { width: 7px; }
.g_fmsg .a .line4 { width: 5px; }
.g_fmsg .a .line3 { width: 3px; }
.g_fmsg .a .line2 { width: 1px; }
.g_fmsg .a .line1 { background: #14A900; border: 0; width: 1px; }
.g_fmsg.g .c { border: 1px solid #14A900; color: #14A900; }
.g_fmsg.g .a div { border-left: 1px solid #14A900; border-right: 1px solid #14A900; }
.g_fmsg.g .a .line1 { background: #14A900; border: 0; width: 1px; }

.g_err { }



.g_cover { position: fixed; z-index: 1000; opacity: 0; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); transition: .3s ease; }
.g_cover.show { opacity: 1; }
.g_cover td { vertical-align: middle; text-align: center; }


.g_docardsucrate { position: absolute; display: none; box-sizing: border-box; width: 250px; z-index: 1; background: #fff; padding: 15px; font-size: 12px; color: #555555; border-radius: 5px; box-shadow: 0 0 5px rgba(0,0,0,0.15); }
.g_docardsucrate p { line-height: 1.8em; }
.g_docardsucrate > hr { border: 0; border-top: 1px solid #E0E0E0; margin: 10px 0; }
.g_docardsucrate .ico { vertical-align: middle; }
.g_docardsucrate .light { font-weight: bold; color: #0CC0F4; }

/*end*/


/*无跳转翻页*/
.-turn- { position: relative !important; perspective: 100vmax; }
.-turn-page { position: absolute !important; width: 100% !important; transform: scale(1) rotateX(0) !important; transform-origin: center top !important; opacity: 1 !important; transition: ease .5s !important; transition-property: transform,opacity !important; }
.-turn-page.out { transform: scale(0.95) !important; opacity: 0 !important; }
.-turn-page.in { transform: scale(0.95) rotateX(-20deg) !important; opacity: .2 !important; }
/*end*/


/*层选*/
.-tier- { left: 0; top: 0; display: none !important; position: absolute !important; z-index: 1 !important; background: #fff !important; color: #444 !important; line-height: normal !important; border: 1px solid #eaeaea !important; padding: 15px !important; box-shadow: 0 0 5px rgba(0,0,0,.05) !important; box-sizing: border-box !important; transition: none !important; }
.-tier- * { box-sizing: border-box !important; }
.-tier- a { text-decoration: none !important; color: inherit !important; cursor: pointer !important; transition: ease .3s !important; }
.-tier- a:hover { text-decoration: none !important; color: #14A900 !important; }
.-tier- > .-select { position: relative !important; clear: both !important; padding-right: 50px !important; margin-bottom: 8px !important; white-space: nowrap !important; font-size: 12px !important; overflow: hidden !important; }
.-tier- > .-select:after { position: absolute !important; z-index: -1 !important; content: '' !important; height: 1px !important; background: #e2e2e2 !important; bottom: 0 !important; left: 0 !important; right: 0 !important; }
.-tier- > .-select a { display: inline-block !important; padding: 0 12px !important; line-height: 26px !important; font-weight: bold !important; }
.-tier- > .-select a.-on { position: relative !important; border: 1px solid #eee !important; border-bottom: 0 !important; background: #fff !important; }
.-tier- > .-select a.-no { color: #888 !important; font-weight: normal !important; }

.-tier- > .-option { clear: both !important; font-size: 12px !important; overflow: hidden !important; }
.-tier- > .-option a { display: block !important; float: left !important; padding: 6px 15px !important; white-space: nowrap !important; }
.-tier- > .-option a.-on { color: #14A900 !important; }
.-tier- > .-option a.-l { clear: both !important; }
.-tier- > .-clear { position: absolute !important; top: 15px !important; right: 25px !important; font-size: 12px !important; line-height: 26px !important; color: #999 !important; }
/*end*/


/*大图查看*/
.-imgsview- { position: fixed; left: 0; right: 0; top: 0; bottom: 0; padding: 0; background: #000; z-index: 2000; box-sizing: border-box; overflow: hidden; }
.-imgsview- * { box-sizing: border-box; }
.-imgsview- .-close { position: absolute; z-index: 2; opacity: .5; width: 44px; height: 44px; right: 10px; top: 10px; background: rgba(160,160,160,.5); border: 0; border-radius: 50%; transition: .3s ease; }
.-imgsview- .-close:before { content: ''; display: inline-block; position: absolute; top: 21px; left: 14px; width: 18px; height: 3px; background: #fff; border-radius: 1.5px; transform: rotate(-45deg); }
.-imgsview- .-close:after { content: ''; display: inline-block; position: absolute; top: 21px; left: 14px; width: 18px; height: 3px; background: #fff; border-radius: 1.5px; transform: rotate(45deg); }
.-imgsview- .-close:hover { opacity: 1; }
.-imgsview- .-prev { position: absolute; z-index: 1; opacity: .5; width: 60px; height: 60px; top: 50%; left: -100px; margin-top: -30px; background: rgba(160,160,160,.5); border: 0; border-radius: 50%; transform: rotate(-120deg); transition: .5s ease; }
.-imgsview- .-prev:before { content: ''; display: inline-block; position: absolute; top: 23px; left: 19px; width: 18px; height: 5px; background: #fff; border-radius: 2.5px; transform: rotate(-45deg); }
.-imgsview- .-prev:after { content: ''; display: inline-block; position: absolute; top: 32px; left: 19px; width: 18px; height: 5px; background: #fff; border-radius: 2.5px; transform: rotate(45deg); }
.-imgsview- .-prev.-show { left: 10px; transform: rotate(0); }
.-imgsview- .-prev.-show:hover { opacity: 1; }
.-imgsview- .-next { position: absolute; z-index: 1; opacity: .5; width: 60px; height: 60px; top: 50%; right: -100px; margin-top: -30px; background: rgba(160,160,160,.5); border: 0; border-radius: 50%; transform: rotate(120deg); transition: .5s ease; }
.-imgsview- .-next:before { content: ''; display: inline-block; position: absolute; top: 23px; right: 18px; width: 18px; height: 5px; background: #fff; border-radius: 2.5px; transform: rotate(45deg); }
.-imgsview- .-next:after { content: ''; display: inline-block; position: absolute; top: 32px; right: 18px; width: 18px; height: 5px; background: #fff; border-radius: 2.5px; transform: rotate(-45deg); }
.-imgsview- .-next.-show { right: 10px; transform: rotate(0); }
.-imgsview- .-next.-show:hover { opacity: 1; }
.-imgsview- .-load { position: absolute; display: inline-block; z-index: 2; width: 30px; height: 20px; top: 50%; left: 50%; margin-left: -20px; margin-top: -20px; }
.-imgsview- .-pbox { position: relative; display: inline-block; width: auto; height: auto; margin: 0; cursor: move; }
.-imgsview- .-pbox.-zoom { position: static; width: 100%; height: 100%; text-align: center; cursor: zoom-in; }
.-imgsview- .-pbox.-zoom img { max-width: 100%; max-height: 100%; vertical-align: middle; }
.-imgsview- .-page { position: absolute; z-index: 2; bottom: 42px; left: 10px; color: #fff; font-size: 12px; opacity: .8; }
.-imgsview- .-hscroll { position: absolute; z-index: 2; bottom: 0; height: 1px; background: rgba(13,160,86,1); border-radius: .5px; }
.-imgsview- .-vscroll { position: absolute; z-index: 2; right: 0; width: 1px; background: rgba(13,160,86,1); border-radius: .5px; }
/*end*/



.g_grid { clear: both; }
.g_grid .offset::before { content: ''; display: block; clear: both; }
.g_grid .offset::after { content: ''; display: block; clear: both; }
.g_grid .offset .list > li { float: left; }
.g_grid .offset .list > li .box { display: block; }


.works-grid .box { display: block; font-size: 12px; background: #fff; border-radius: 3px; overflow: hidden; transition: ease .3s; }
.works-grid .box:hover { box-shadow: 0 0 15px rgba(0,0,0,.05); margin-top: -2px; margin-bottom: 2px; }
.works-grid .box a { color: inherit; }
.works-grid .box a:hover { color: #14A900; }
.works-grid .box .pic { position: relative; display: block; font-size: 0; line-height: 145px; text-align: center; }
.works-grid .box .pic.psd:after { content: ''; width: 46px; height: 43px; position: absolute; z-index: 1; right: 0; bottom: 0px; background: url(/img/ico_psd.png) no-repeat; overflow: hidden; }
.works-grid .box .pic img { max-width: 100%; max-height: 100%; vertical-align: middle; }
.works-grid .box .name { display: block; padding: 9px 10px; color: #777; font-size: 13px; line-height: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.works-grid .box .name.video:before { content: ''; float: right; width: 18px; height: 18px; background: url(/img/ico_play.svg) no-repeat center center; background-size: contain; }
.works-grid .box .user { padding: 5px 10px; color: #222; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.works-grid .box .cate { padding: 5px 10px 10px; color: #bbb; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.works-grid .box .bar { padding: 0 7px; line-height: 30px; border-top: 1px solid #efefef; color: #aaa; font-size: 12px; font-weight: normal; }
.works-grid .box .bar .zan { display: inline-block; width: 55px; padding-left: 20px; background: url(/do/img/ico-w-zan.svg) no-repeat left 5px; background-size: 18px; }
.works-grid .box .bar .click { display: inline-block; width: 72px; padding-left: 22px; background: url(/do/img/ico-w-click.svg) no-repeat left center; background-size: 18px; }
.works-grid .box .bar .time { display: inline-block; padding-left: 18px; background: url(/do/img/ico-w-time.svg) no-repeat left center; background-size: 14px; }
.works-grid .box .bar .time.rcm { background-image: url(/img/icon-time2.png); background-size: 17px; background-position-y: 5px; }


/*header21*/
body { min-width: 1220px; }
.header21 { clear: both; display: block; box-sizing: border-box; color: #696969; background: #fff; border-bottom: 1px solid #F3F3F3; }
.header21.fixed { position: fixed; z-index: 10; top: 0; left: 0; right: 0; transition: ease .3s; transition-property: box-shadow top; }
.header21.fixed.shadow { box-shadow: 0 0 10px rgba(0,0,0,.05); }
.header21.fixed.shadow.small { top: -51px; }
.header21:after { content: ''; display: block; clear: both; }
.header21 * { box-sizing: border-box !important; }
.header21 a { color: #696969; transition: ease .3s; }
.header21 a:hover { color: #14a900; }

.header21 .-cw { width: 1220px; padding: 0 10px; margin: 0 auto; }
.header21 .-cw:after { content: ''; display: block; clear: both; }

.header21 > .-top { clear: both; border-bottom: 1px solid #F3F3F3; font-size: 12px; }
.header21 > .-top:after { content: ''; display: block; clear: both; }
.header21 > .-top .quick { float: left; height: 50px; line-height: 50px; }
.header21 > .-top .quick > li { float: left; }
.header21 > .-top .quick > li a { display: block; color: #222; margin-right: 40px; cursor: pointer; }
.header21 > .-top .quick > li a.hover,
.header21 > .-top .quick > li a:hover { color: #14a900; }
.header21 > .-top .quick > li a .fa { color: #A0A0A0; font-size: 13px; margin-left: 5px; transition: ease .3s; }
.header21 > .-top .quick > li a.hover .fa,
.header21 > .-top .quick > li a:hover .fa { color: #14a900; transform: rotate(180deg); }

.header21 > .-top .right { float: right; height: 50px; line-height: 50px; }
.header21 > .-top .right .user { float: left; height: 50px; line-height: 50px; }
.header21 > .-top .right .user > li { position: relative; float: left; margin-left: 20px; }
.header21 > .-top .right .user > li .uname { display: block; font-family: Arial; }
.header21 > .-top .right .user > li .fa { vertical-align: middle; margin-left: 8px; color: #B6B6B6; transition: ease .5s; }
.header21 > .-top .right .user > li.drop { padding: 0 12px; }
.header21 > .-top .right .user > li.drop .front { position: relative; z-index: 1; display: block; }
.header21 > .-top .right .user > li.drop:hover .front { color: #fff; }
.header21 > .-top .right .user > li.drop:hover .front .fa { color: #fff; transform: rotate(180deg); margin-top: -5px; }

.header21 > .-top .right .user > li .sub { position: absolute; z-index: 1; visibility: hidden; opacity: 0; top: 0; left: 0; right: 0; color: #9f9f9f; background: #454648; border-radius: 5px; overflow: hidden; transition: ease .3s; }
.header21 > .-top .right .user > li:hover .sub { visibility: visible; opacity: 1; }
.header21 > .-top .right .user > li .sub > li.empty { height: 40px; }
.header21 > .-top .right .user > li .sub > li > a { display: block; padding: 0 12px; color: #9f9f9f; white-space: nowrap; line-height: 30px; }
.header21 > .-top .right .user > li .sub > li > a > b { margin-left: 10px; }
.header21 > .-top .right .user > li .sub > li > a:hover { background: #14A900; color: #fff; }

.header21 > .-top .right .user > li .login { height: 34px; line-height: 34px; display: inline-block; padding: 0 30px; font-size: 12px; color: #666666; border: 1px solid #E2E2E2; border-radius: 17px; }
.header21 > .-top .right .user > li .login:hover { color: #14A900; border-color: #14A900; }
.header21 > .-top .right .user > li .reg { height: 34px; line-height: 34px; display: inline-block; padding: 0 30px; font-size: 12px; color: #fff; border: 1px solid transparent; background: #14A900; border-radius: 17px; }
.header21 > .-top .right .user > li .reg:hover { background: #3C8224; color: #fff; }
.header21 > .-top .project { display: none; height: 34px; line-height: 34px; padding: 0 30px; font-size: 12px; color: #ffffff; border-radius: 20px; margin-left: 20px; background-color:#14A900; }
.header21 > .-top .project:hover {  background-color:#3C8224; }


.header21 > .-top .outbar { position: absolute; z-index: 10; display: none; left: 0; right: 0; border-top: 1px solid #E2E2E2; border-bottom: 1px solid #E2E2E2; color: #222; font-size: 12px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.05); }
.header21 > .-top .outbar > .-cw { position: relative; padding: 40px 0; overflow: hidden; }

.header21 > .-top .outbar.worker .menu { float: left; margin-right: 30px; font-size: 12px; }
.header21 > .-top .outbar.worker .menu > li { clear: both; margin-bottom: 20px; }
.header21 > .-top .outbar.worker .menu > li .box { display: block; position: relative; width: 300px; padding: 15px; padding-right: 50px; border-radius: 5px; color: #888; }
.header21 > .-top .outbar.worker .menu > li a.box { cursor: pointer; }
.header21 > .-top .outbar.worker .menu > li .box:after { content: '\f105'; position: absolute; right: 20px; top: 50%; margin-top: -.6em; font-family: 'FontAwesome'; font-size: 22px; color: #14A800; }
.header21 > .-top .outbar.worker .menu > li .box.on { background: #F2F7F2; }
.header21 > .-top .outbar.worker .menu > li .box .t { color: #222; font-size: 13px; font-weight: bold; margin-bottom: 10px; }

.header21 > .-top .outbar.worker .body { position: relative; border-left: 1px solid #E0E0E0; overflow: hidden; }
.header21 > .-top .outbar.worker .body .panel { visibility: hidden; position: absolute; opacity: 0; padding: 5px 0 5px 60px; width: 100%; height: 100%; transition: ease .3s; }
.header21 > .-top .outbar.worker .body .panel.on { visibility: visible; opacity: 1; }
.header21 > .-top .outbar.worker .body .panel .cl { float: left; }
.header21 > .-top .outbar.worker .body .panel .cl .tl { position: relative; padding-top: 25px; font-weight: bold; margin-bottom: 10px; }
.header21 > .-top .outbar.worker .body .panel .cl .tl:after { content: ''; position: absolute; height: 4px; width: 60px; top: 0; left: 0; background: #14A800; }
.header21 > .-top .outbar.worker .body .panel .cl a.hot { color: #14A800; padding-right: 30px; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjxzdmcgdD0iMTYyNDY5NTE3NTk4MCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik01NjYuMDU4NjY3IDE3OS42MjY2NjdhMzIgMzIgMCAwIDAtNDQuMTE3MzM0IDQ2LjI5MzMzM2wyNjYuNzA5MzM0IDI1NC4wOEgxNjBhMzIgMzIgMCAwIDAgMCA2NGg2MjguNjUwNjY3bC0yNjYuNzA5MzM0IDI1NC4wOGEzMiAzMiAwIDAgMCA0NC4xMTczMzQgNDYuMzM2bDMxNi41ODY2NjYtMzAxLjUyNTMzM2E0Mi40NTMzMzMgNDIuNDUzMzMzIDAgMCAwIDEyLjgtMjQuNzQ2NjY3IDMyLjI5ODY2NyAzMi4yOTg2NjcgMCAwIDAtMC4wNDI2NjYtMTIuMzMwNjY3IDQyLjQ1MzMzMyA0Mi40NTMzMzMgMCAwIDAtMTIuOC0yNC43MDRsLTMxNi41NDQtMzAxLjUyNTMzM3oiIGZpbGw9IiMxNEE4MDAiPjwvcGF0aD48L3N2Zz4=) no-repeat center right; background-size: 18px; }
.header21 > .-top .outbar.worker .body .panel .cl a.hot:hover { color: #3C8224; text-decoration: underline; }

.header21 > .-top .outbar.worker .body .panel .block { overflow: hidden; }
.header21 > .-top .outbar.worker .body .panel .block .case { }
.header21 > .-top .outbar.worker .body .panel .block .case td { padding: 10px 0 10px 30px; }
.header21 > .-top .outbar.worker .body .panel .block .case td .box { display: block; width: 163px; border: 1px solid #E0E0E0; border-radius: 5px; overflow: hidden; }
.header21 > .-top .outbar.worker .body .panel .block .case td .box:hover { margin-top: -5px; }
.header21 > .-top .outbar.worker .body .panel .block .case td .box .pic { max-width: 100%; }
.header21 > .-top .outbar.worker .body .panel .block .case td .box .name { padding: 20px; font-size: 14px; color: #444444; text-align: center; }


.header21 > .-top .outbar.-job .menu { overflow: hidden; margin-bottom: -20px; }
.header21 > .-top .outbar.-job .menu > li { float: left; margin-right: 50px; margin-bottom: 20px; }
.header21 > .-top .outbar.-job .menu > li .box { display: block; width: 310px; padding: 15px; border-radius: 5px; color: #888; }
.header21 > .-top .outbar.-job .menu > li .box:hover { background: #F2F7F2; }
.header21 > .-top .outbar.-job .menu > li .box .t { color: #222; font-size: 13px; font-weight: bold; margin-bottom: 10px; }
.header21 > .-top .outbar.-job .menu > li .box .g_cg { color: #14A800; transition: ease .3s; }
.header21 > .-top .outbar.-job .menu > li .box .g_cg:hover { color: #3C8224; }


.header21 > .-nav { clear: both; height: 56px; line-height: 56px; }
.header21 > .-nav .-logo { float: left; font-size: 0; margin-right: 65px; }
.header21 > .-nav .-logo img { vertical-align: middle; }

.header21 > .-nav .search { float: right; display: inline-block; position: relative; width: 240px; height: 32px; line-height: 32px; margin-top: 14px; padding: 0 15px 0 55px; border: 1px solid #EAEAEA; background: #F9F9F9; border-radius: 15px; transition: ease .3s; }
.header21 > .-nav .search.-out { background: #fff; box-shadow: 0 0 5px rgba(0,0,0,.1); }
.header21 > .-nav .search .-txt { width: 100%; border: 0; height: 20px; line-height: 20px; color: #222; background: transparent; }
.header21 > .-nav .search .-btn { position: absolute; display: inline-block; top: 6px; left: 8px; width: 20px; height: 20px; border: 0; margin-top: 1px; background: transparent; }
.header21 > .-nav .search .-btn > em { position: relative; top: -2px; display: inline-block; width: 12px; height: 12px; border: 1px solid #B7B7B7; border-radius: 50%; transition: ease .3s; transform-origin: 100% 100%; }
.header21 > .-nav .search .-btn > em > i { position: absolute; background: #B7B7B7; width: 4px; height: 1px; bottom: 0px; right: -3px; transform: rotate(45deg); transition: ease .3s; }
.header21 > .-nav .search .-arr { position: absolute; top: 6px; left: 30px; width: 16px; height: 20px; font-size: 13px; text-align: center; line-height: 20px;  color: #A0A0A0; }
.header21 > .-nav .search.-expand .-arr { color: #14A900; }
.header21 > .-nav .search .-combox { visibility: hidden; opacity: 0; position: absolute; background: #fff; padding: 8px 0; left: 0; right: 0; top: 100%; margin-top: 5px; line-height: 1.5em; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,.1); transition: ease .3s; }
.header21 > .-nav .search.-expand .-combox { visibility: visible; opacity: 1; }
.header21 > .-nav .search .-combox .-citem { display: block; padding: 8px 30px; font-size: 14px; color: #8F8F8F; cursor: pointer; }
.header21 > .-nav .search .-combox .-citem.on,
.header21 > .-nav .search .-combox .-citem:hover { background: rgba(0,100,0,.05); }
.header21 > .-nav .search .-combox .-citem .-t { color: #222; }
.header21 > .-nav .search ::-webkit-input-placeholder { color: #BEBEBE; }
.header21 > .-nav .search ::-moz-placeholder { color: #BEBEBE; }
.header21 > .-nav .search :-ms-input-placeholder { color: #BEBEBE; }


.header21 > .-nav .menu { }
.header21 > .-nav .menu > li { float: left; margin-right: 30px; position: relative; }
.header21 > .-nav .menu > li > a { display: block; padding: 0 10px; font-size: 16px; color: #222; }
.header21 > .-nav .menu > li > a:hover { color: #14A900; }
.header21 > .-nav .menu > li > .more { cursor: pointer; }
.header21 > .-nav .menu > li > .more:after { content: ''; display: inline-block; width: 24px; height: 24px; vertical-align: middle; background: url(/img/ico-more-b.svg) no-repeat center center; background-size: cover; }
.header21 > .-nav .menu > li.drop { position: relative; }
.header21 > .-nav .menu > li.drop > .-box { visibility: hidden; opacity: 0; position: absolute; top: 100%; width: 210px; line-height: 1.2em; font-size: 15px; color: #444; padding: 20px 30px; background: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,.1); transition: ease .3s; }
.header21 > .-nav .menu > li.drop:hover > .-box { visibility: visible; opacity: 1; }
.header21 > .-nav .menu > li.drop > .-box table { width: 100%; }
.header21 > .-nav .menu > li.drop > .-box table th { color: #C3C3C3; padding: 5px 0; }
.header21 > .-nav .menu > li.drop > .-box table td { padding: 5px 0; width: 33.33%; }
/*end*/

/*ftool21*/
.ftool21 { clear: both; position: relative; z-index: 9; font-size: 12px; width: 1200px; margin: 0 auto; }
.ftool21 * { box-sizing: border-box; }
.ftool21 .offset { position: absolute; right: -20px; }
.ftool21 .offset .tools { position: fixed; bottom: 50px; width: 52px; }
.ftool21 .offset .tools a { cursor: pointer; color: inherit; transition: ease .3s; }

.ftool21 .offset .tools > li .-item { position: relative; display: block; height: 50px; line-height: 50px; text-align: center; color: #444; border: 1px solid #F0F0F0; border-top-width: 0; background: #FCFCFC; cursor: pointer; transition: ease .3s; }
.ftool21 .offset .tools > li .-item .front { position: relative; display: inline-block; vertical-align: middle; line-height: 1.3em; transition: ease .3s; }
.ftool21 .offset .tools > li .-item .front.-new:after { content: ''; position: absolute; width: 7px; height: 7px; border-radius: 50%; background: #f00; right: -7px; top: -2px; }
.ftool21 .offset .tools > li .-item:hover .front { color: #14A900; }

.ftool21 .offset .tools > li .-item.project { background: #14A900; border: 1px solid #14A900; border-radius: 8px 8px 0 0; }
.ftool21 .offset .tools > li .-item.project .front { color: #fff; }
.ftool21 .offset .tools > li .-item.project:hover { background: #3C8224; border-color: #3C8224; }

.ftool21 .offset .tools > li .-item.-gotop { height: 50px; border-radius: 0 0 8px 8px; overflow: hidden; }
.ftool21 .offset .tools > li .-item.-belast { border-radius: 0; }
.ftool21 .offset .tools.notop > li .-item.-belast { border-radius: 0 0 8px 8px; }
.ftool21 .offset .tools.notop > li .-item.-gotop { height: 0px; border-width: 0; }

.ftool21 .offset .tools > li .-item.-gotop .arr { position: relative; display: inline-block; height: 3px; }
.ftool21 .offset .tools > li .-item.-gotop .arr:before { content: ''; position: absolute; display: inline-block; width: 9px; height: 1px; margin-top: -4px; margin-left: -7px; vertical-align: middle; background: #808080; transform-origin: 50% 0; transform: rotate(-45deg); transition: ease .3s; }
.ftool21 .offset .tools > li .-item.-gotop .arr:after { content: ''; position: absolute; display: inline-block; width: 9px; height: 1px; margin-top: -4px; vertical-align: middle; background: #808080; transform-origin: 50% 0; transform: rotate(45deg); transition: ease .3s; }
.ftool21 .offset .tools > li .-item.-gotop:hover .arr:before,
.ftool21 .offset .tools > li .-item.-gotop:hover .arr:after { background: #14A900; }


.ftool21 .offset .tools > li .-item .tip { visibility: hidden; opacity: 0; position: absolute; background: #FCFCFC; color: #444; padding: 8px 12px; line-height: normal; white-space: nowrap; top: 50%; right: 100%; margin-right: 15px; transform: translateY(-50%); filter: drop-shadow(0 0 10px rgba(0,0,0,.05)); border-radius: 5px; transition: ease .3s; font-size:14px; font-weight:bold;}
.ftool21 .offset .tools > li .-item .tip:after { content: ''; display: block; position: absolute; z-index: -1; width: 10px; height: 10px; background: #FCFCFC; right: -3px; top: 50%; margin-top: -5px; transform: rotate(45deg); }
.ftool21 .offset .tools > li .-item:hover .tip { visibility: visible; opacity: 1; margin-right: 6px; }
.ftool21 .offset .tools > li .-item .tip.contact { padding: 10px; cursor: default; }
.ftool21 .offset .tools > li .-item .tip.contact .qq { margin-top: 10px; font-size: 13px; }
.ftool21 .offset .tools > li .-item .tip.contact .qq .fa { color: #14A900; font-size: 15px; transition: ease .3s; }
.ftool21 .offset .tools > li .-item .tip.contact .qq a:hover { color: #3C8224; }
.ftool21 .offset .tools > li .-item .tip.contact .qq a:hover .fa { color: #3C8224; }

@media (max-width: 1344px) {
	.ftool21 { position: static; }
	.ftool21 .offset { position: static; }
	.ftool21 .offset .tools { position: fixed; right: 0; }
}
/*end*/
